.sidebar {
  width: 15%;
  border-right: 1px solid grey;
  min-height: 100vh;
}

.sidebar-items {
  cursor: pointer;
  border: 1px solid grey;
  padding: 0.2rem 1rem 0rem 1rem;
  margin: 0.8rem 0;
  text-decoration: none !important;
  color: black;
}

.sidebar-items.active {
  background-color: #fdac9e;
}

.add-items {
  margin-top: 3rem;
}

.sidebar-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
